.loader-main{
    position: fixed;
    background-color: rgba(12, 142, 250, 0.2);
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    .kognetics-loader,
    .kognetics-loader:before,
    .kognetics-loader:after {
      background: $themeColor;
      -webkit-animation: load1 1s infinite ease-in-out;
      animation: load1 1s infinite ease-in-out;
      width: 1em;
      height: 4em;
    }
    .kognetics-loader {
      color: $themeColor;
      text-indent: -9999em;
      position: absolute;
      font-size: 11px;
      top: 50%;
      bottom: 50%;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
    .kognetics-loader:before,
    .kognetics-loader:after {
      position: absolute;
      top: 0;
      content: '';
    }
    .kognetics-loader:before {
      left: -1.5em;
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }
    .kognetics-loader:after {
      left: 1.5em;
    }
    @-webkit-keyframes load1 {
      0%,
      80%,
      100% {
        box-shadow: 0 0;
        height: 4em;
      }
      40% {
        box-shadow: 0 -2em;
        height: 5em;
      }
    }
    @keyframes load1 {
      0%,
      80%,
      100% {
        box-shadow: 0 0;
        height: 4em;
      }
      40% {
        box-shadow: 0 -2em;
        height: 5em;
      }
    }
  }